* {
    box-sizing: border-box;
   
  }
  

  body {

    margin: 0;
  }
  

  .header {
    padding: 20px;
    text-align: center;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    
  }
  h1{
    font-family:'Brush Script MT',cursive;
    font-size: 7rem;
  }

  .navbar {
    display: flex;
    background-color: #333;
  }
  

  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  

  .oldal {
    flex: 2%;
    background-color: #f1f1f1;
    padding: 20px;
    font-family:'Brush Script MT',cursive;
    
  }
  

  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  

  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  

  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(86, 86, 86);
  }
  
  
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }






  .sor_1,
.sor_2,
.sor_3 {
    display: flex;
    overflow-x: scroll;
    width: 90%;

}

.oszlop {
    flex: 33.33%;
    padding: 60px 30px 60px 30px;


}

.oldal p {
    font-weight: bolder;
    font-size:4rem;
}
#eloetel{
    margin-top:4rem;
}
#foetel{
    margin-top:9rem;
}
#desszert{
    margin-top:8rem;
}

.logo{
    width:13%;
}